import axios from 'axios'

{{#imports}}
    import { {{importName}} } from "../definitions/{{&importName}}"
{{/imports}}

{{#methodRequests}}
    export function api{{capitalizedMethod}}{{&requestName}}({{#parameters}}
        {{&paramName}}:{{&paramType}}{{&paramRequired}},
    {{/parameters}}){
        return axios.request({
            url:`{{&url}}`,
            method:`{{&method}}`,
            params:{
            {{#parametersInQuery}}
                {{paramName}}:{{paramName}},
            {{/parametersInQuery}}
            },
            {{#parametersInBody}}
                data:{{paramName}},
            {{/parametersInBody}}

        })
    }
{{/methodRequests}}
